Package: enigma2-plugin-skins-vskin-bolt-1080
Version: 2.14_20220323
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Vskin Bolt 1080
Depends: enigma2-plugin-skincomponents-kiddac-shared-skin
Source: https://www.linuxsat-support.com