Package: enigma2-plugin-skins-slyk-q-1080
Version: 1.31_20210620
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Slyk Q 1080
Depends: enigma2-plugin-skins-kiddac-shared-components
Source: https://www.linuxsat-support.com