Package: enigma2-plugin-skins-kiddac-shared-components
Version: 1.01
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Shared skin components for KiddaC skins
Depends: 
Source: https://www.linuxsat-support.com
