Package: enigma2-plugin-skins-vskin-red-1080
Version: 2.12_20220318
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Vskin Red 1080
Depends: enigma2-plugin-skincomponents-kiddac-shared-skin
Source: https://www.linuxsat-support.com